<!--Step 2: typized view-->
@*@model List<SportStore.Domain.Entity.Product>*@
@model SportStore.WebUI.Models.ProductsListViewModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        Products:
    </div>
    <div>
        @*@foreach (var product in Model)
        {
        <div>
            <span>Category:</span> @product.Category ; <span>Product:</span> @product.Name ; <span>Price:</span> @product.Price
        </div>
        }*@
        @foreach (var p in Model.Products)
        {
            Html.RenderPartial("ProductSummary", p);
        }
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
        </div>
    </div>
</body>
</html>
